<%= form_for(@concepto) do |f| %>
  <% if @concepto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concepto.errors.count, "error") %> prohibited this concepto from being saved:</h2>

      <ul>
      <% @concepto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formulario">
    <tr>
      <th><%= f.label :anhomes, "Año y mes" %></th><td><%= f.text_field :anhomes, :style => "width: 80px;" %></td>
    </tr>
    <tr>
      <th><%= f.label :codigo_concepto, "Código" %></th><td><%= f.text_field :codigo_concepto, :style => "width: 100px;" %></td>
    </tr>
    <tr><th><%= f.label :nombre %></th><td><%= f.text_field :nombre %></td></tr>
    <tr><th><%= f.label :calculo_auxiliares %></th><td><%= f.text_area :calculo_auxiliares, :cols => "30", :rows => "5" %></td>
    </tr>  
    <tr><th><%= f.label :calculo_cargos %></th><td><%= f.text_area :calculo_cargos, :cols => "30", :rows => "5" %></td>
    </tr>    
    <tr><th><%= f.label :calculo_horas_media %></th><td><%= f.text_area :calculo_horas_media, :cols => "30", :rows => "5" %></td>
    </tr>      
    <tr><th><%= f.label :calculo_horas_superior %></th><td><%= f.text_area :calculo_horas_superior, :cols => "30", :rows => "5" %></td>
    </tr>      
    <tr><th><%= f.label :orden %></th><td><%= f.text_field :orden %></td></tr>      
    <tr><th><%= f.label :requerido %></th>
    <td>
        <%= f.label :requerido, 'SI'%>
        <%= f.radio_button :requerido, 'SI' %>
        <%= f.label :requerido, 'NO' %>
        <%= f.radio_button :requerido, 'NO' %>
    </td>
    <tr><th><%= f.label :carga_manual %></th><td><%= f.text_field :carga_manual %></td></tr>      
    <tr><th><%= f.label :minimo, "Mínimo" %></th><td><%= f.text_field :minimo, :style => "width: 80px;" %></td></tr>      
    <tr><th><%= f.label :maixmo, "Máximo" %></th><td><%= f.text_field :maximo, :style => "width: 80px;" %></td></tr>      
    <tr><th><%= f.label :ayuda %></th><td><%= f.text_field :ayuda %></td></tr>      
    <tr>
      <th><%= f.label :activado_x_defecto, "Activado por defecto" %></th>
      <td>
        <%= f.label :activado_x_defecto, 'SI'%>
        <%= f.radio_button :activado_x_defecto, 'SI' %>
        <%= f.label :activado_x_defecto, 'NO' %>
        <%= f.radio_button :activado_x_defecto, 'NO' %>
      </td>
    </tr>    
    <tr><th><%= f.label :tipo %></th><td><%= f.text_field :tipo %></td></tr>            
    <tr><th><%= f.label :tipo_liquidacion %></th><td><%= f.text_field :tipo_liquidacion %></td></tr>      
  </table> 

  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => 'Guardar' %>
  </div>  

<% end %>
