<ul class="nav nav-pills">
  <li><%= link_to 'Volver', conceptos_path %></li>
  <li><%= link_to 'Editar', edit_concepto_path(@concepto) %></li> 
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Anhomes: </b><%= @concepto.anhomes %>
</p>

<p>
  <b>Código: </b><%= @concepto.codigo_concepto %>
</p>

<p>
  <b>Nombre: </b><%= @concepto.nombre %>
</p>

<p>
  <b>Cálculo auxiliares: </b><%= @concepto.calculo_auxiliares %>
</p>

<p>
  <b>Cálculo cargos:</b><%= @concepto.calculo_cargos %>
</p>

<p>
  <b>Cálculo horas media:</b><%= @concepto.calculo_horas_media %>
</p>

<p>
  <b>Cálculo horas superior:</b><%= @concepto.calculo_horas_superior %>
</p>

<p>
  <b>Orden:</b><%= @concepto.orden %>
</p>

<p>
  <b>Requerido:</b><%= @concepto.requerido %>
</p>

<p>
  <b>Carga manual:</b><%= @concepto.carga_manual %>
</p>

<p>
  <b>Minimo:</b><%= @concepto.minimo %>
</p>

<p>
  <b>Máximo:</b><%= @concepto.maximo %>
</p>

<p>
  <b>Ayuda:</b><%= @concepto.ayuda %>
</p>

<p>
  <b>Activado por defecto:</b><%= @concepto.activado_x_defecto %>
</p>

<p>
  <b>Tipo:</b><%= @concepto.tipo %>
</p>

<p>
  <b>Tipo de liquidación: </b><%= @concepto.tipo_liquidacion %>
</p>