<h4>Listado de plantas</h4>

<ul class="nav nav-pills">
    <li><%= link_to 'Nueva planta', new_agente_cargo_path %></li>
</ul>

<table class="table table-striped">
  <tr>
    <th>Fecha</th>
    <th>Agente</th>
    <th>Cargo</th>
    <th>Establecimiento</th>
    <th>Estado</th>
    <th>&nbsp;</th>
  </tr>

<% @agente_cargos.each do |agente_cargo| %>
  <tr>
    <td><%= agente_cargo.fecha %></td>
    <td><%= Agente.find(agente_cargo.agente_id).apellido_y_nombre %></td>
    <td><%= Cargo.find(agente_cargo.cargo_id).nombre_completo %></td>
    <td><%= Establecimiento.find(agente_cargo.establecimiento_id).nombre_completo %></td>
    <td><%= agente_cargo.estado %></td>
    <td>
        <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Ver', agente_cargo %></li>
    <li><%= link_to 'Editar', edit_agente_cargo_path(agente_cargo) %></li>
    <li><%= link_to 'Eliminar', agente_cargo, method: :delete, data: { confirm: 'Está seguro de querer eliminar esta Planta?' } %></li>
    <li class="divider"></li>
    <li><%= link_to 'Ver agente', Agente.find(agente_cargo.agente_id) %></li>
    <li><%= link_to 'Ver Establecimiento', Establecimiento.find(agente_cargo.establecimiento_id) %></li>
    <li class="divider"></li>
    <li><%= link_to 'Crear liquidacion', new_liquidacion_path %></li>
  </ul>
        </div>
    </td>        
  </tr>
<% end %>
</table>