<h4>Listado de plantas</h4>

<ul class="nav nav-pills">
    <li><%= link_to 'Nueva planta', new_agente_cargo_path %></li>
</ul>

<table class="table table-striped">
  <tr>
    <th>Agente</th>
    <th>Tipo de Cargo</th>
    <th>Cargo</th>
    <th>Tipo de horas</th>
    <th>Establecimiento</th>
    <th>Cant. horas</th>
    <th>Estado</th>
    <th>Secuencia</th>
    <th>&nbsp;</th>
  </tr>

<% @agente_cargos.each do |agente_cargo| %>
  <tr>
    <td><%= Agente.find(agente_cargo.agente_id).apellido_y_nombre %></td>
    <td><%= agente_cargo.tipo_cargo %></td>
    <td><%= Cargo.find(agente_cargo.cargo_id).descripcion %></td>
    <td><%= agente_cargo.tipo_horas %></td>
    <td><%= Establecimiento.find(agente_cargo.establecimiento_id).nombre_completo %></td>
    <td><%= agente_cargo.cant_horas %></td>
    <td><%= agente_cargo.estado %></td>
    <td><%= agente_cargo.secuencia %></td>
    <td>
        <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Ver', agente_cargo %></li>
    <li><%= link_to 'Editar', edit_agente_cargo_path(agente_cargo) %></li>
    <li><%= link_to 'Eliminar', agente_cargo, method: :delete, data: { confirm: 'Está seguro de querer eliminar esta Planta?' } %></li>
  </ul>
        </div>
    </td>    
  </tr>
<% end %>
</table>