<%= form_for(@liquidacion) do |f| %>
  <% if @liquidacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion.errors.count, "error") %> prohibited this liquidacion from being saved:</h2>

      <ul>
      <% @liquidacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="formulario">
    <tr>
      <th><%= f.label :fecha %></th><td><%= f.datepicker :fecha, :style => "width: 80px;" %></td>
    </tr>
    <tr>
      <th><%= f.label :tipo_liquidacion, "Tipo de liquidación" %></th>
      <td><%= f.select :tipo_liquidacion, options_for_select(Liquidacion.tipos) %></td>
    </tr>
    <tr><th><%= f.label :agente_cargo_id, "Planta" %></th><td><%= f.collection_select :agente_cargo_id, AgenteCargo.all, :id, :nombre_completo %></td></tr>
    <tr><th><%= f.label :dias_trabajados, "Días trabajados" %></th><td><%= f.text_field :dias_trabajados, :style => "width: 50px;" %></td></tr>    
  </table> 

  <div class="alert alert-info" style="width:50%;"> 
    Marque todos los <b>conceptos</b> que desee incluir en la <b>liquidación</b>
  </div>  

  <table class="table table-striped" style="width:50%;">
    <thead>
    <tr>
      <th>Código</th>
      <th>Concepto</th>
      <th>&nbsp;</th>
    <tr>  
    </thead>
    <tbody>
  <% @conceptos.each do |c| %>  
    <tr>
      <td><%= c.codigo_concepto.to_s %></td>
      <% if c.carga_manual == 'NO' %>          
        <td><%= label_tag "codigos_seleccionados_#{c.id}", c.nombre %></td>
        <td>
        <% 
        checked = false  
        if @conceptos_liquidacion == nil
          if (c.activado_x_defecto == 'SI') 
            checked = true
          end
        else
          if @conceptos_liquidacion.include?(c.id)
            checked = true
          end
        end
        %>  
        <%= check_box("codigos", "seleccionados", { :multiple => true, :checked => checked }, c.id, nil) %>
        </td>
      <% else %>
        <td><%= label_tag "codigos_seleccionados_#{c.id}", c.nombre %></td>
        <td>
        <%= text_field("codigos_seleccionados_",c.id, :value => number_with_precision(0.00, :precision => 2), :style => 'width: 80px;') %>
        </td>   
      <% end %>
    </tr>
  <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => 'Guardar' %>
  </div>  

<% end %>
