<h4>Listado de liquidaciones</h4>

<ul class="nav nav-pills">
    <li><%= link_to 'Nueva liquidacion', new_liquidacion_path %></li>
</ul>

<table class="table table-striped">
  <tr>
    <th>Fecha</th>
    <th>Tipo de liquidación</th>
    <th>Agente</th>
    <th>Planta</th>
    <th>Oficina</th>
    <th>Días trabajados</th>
    <th>&nbsp;</th>
  </tr>

<% @liquidacions.each do |liquidacion| %>
  <tr>
    <td><%= liquidacion.fecha %></td>
    <td><%= liquidacion.tipo_liquidacion %></td>
    <td><%= Agente.find(AgenteCargo.find(liquidacion.agente_cargo_id).agente_id).apellido_y_nombre %></td>
    <td><%= AgenteCargo.find(liquidacion.agente_cargo_id).nombre %></td>
    <td><%= Establecimiento.find(AgenteCargo.find(liquidacion.agente_cargo_id).establecimiento_id).numero %></td>
    <td><%= liquidacion.dias_trabajados %></td>
    <td>
        <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to 'Ver Recibo', liquidacion %></li>
    <li><%= link_to 'Editar', edit_liquidacion_path(liquidacion) %></li>
    <li><%= link_to 'Eliminar', liquidacion, method: :delete, data: { confirm: 'Está seguro de querer eliminar esta Liquidación?' } %></li>
  </ul>
        </div>
    </td>    
  </tr>
<% end %>
</table>
