<ul class="nav nav-pills">
  <li><%= link_to 'Volver', liquidacions_path %></li>
  <li><%= link_to 'Editar', edit_liquidacion_path(@liquidacion) %></li> 
</ul>

<% if notice != nil %>
<div class="alert alert-success"> 
    <p id="notice"><%= notice %></p>
</div>  
<% end %>

<p>
  <b>Fecha: </b><%= @liquidacion.fecha.strftime('%d/%m/%Y') %>
  <b>Tipo de liquidación: </b><%= @liquidacion.tipo_liquidacion %>
</p>
<p>
  <b>Agente: </b><%= Agente.find(AgenteCargo.find(@liquidacion.agente_cargo_id).agente_id).apellido_y_nombre %> 
  <b>DNI: </b><%= Agente.find(AgenteCargo.find(@liquidacion.agente_cargo_id).agente_id).dni %> 
</p>
<p>
  <b>Planta: </b><%= AgenteCargo.find(@liquidacion.agente_cargo_id).nombre %>
</p>
<p>
  <b>Secuencia: </b><%= AgenteCargo.find(@liquidacion.agente_cargo_id).secuencia %>
</p>
<p>
  <b>Horas cátedra: </b><%= AgenteCargo.find(@liquidacion.agente_cargo_id).cant_horas %>
</p>
<p>
  <b>Días trabajados: </b><%= @liquidacion.dias_trabajados %>
</p>

<div class="alert alert-info" style="text-align:center;"> 
    <b>DETALLE RECIBO</b>
</div>  

<table class="formulario table table-striped">
  <tr>
      <th>Código</th>
      <th>Concepto</th>
      <th>Importe</th>
    </tr>    
  <% @concepto_liquidacion.each do |c| %>    
    <tr>
      <td><%=  Concepto.find(c.concepto_id).codigo_concepto %></td>
      <td><%=  Concepto.find(c.concepto_id).nombre %></td>
      <td style="text-align: right;"><%=  number_with_precision(c.valor_calculado,:precision => 2) %></td>
    </tr>    
  <% end %>
    <tr>
      <td>2802</td>
      <td>NETO..........................</td>
      <td style="text-align: right;">
        <%= number_with_precision(@concepto_liquidacion.sum(:valor_calculado),:precision => 2) %>
      </td>
    </tr> 
</table>