<ul class="nav nav-pills">
  <li><%= link_to 'Volver', liquidacions_path %></li>
  <li><%= link_to 'Editar', edit_liquidacion_path(@liquidacion) %></li> 
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b><%= @liquidacion.fecha %>
</p>

<p>
  <b>Tipo de liquidacion: </b><%= @liquidacion.tipo_liquidacion %>
</p>

<p>
  <b>Dias trabajados: </b><%= @liquidacion.dias_trabajados %>
</p>

<p>
  <b>Planta: </b><%= AgenteCargo.find(@liquidacion.agente_cargo_id).nombre_completo %>
</p>

<div class="alert alert-info"> 
    <b>CONCEPTOS</b>
</div>  

<table class="formulario table table-striped" style="width:50%;">
  <% @concepto_liquidacion.each do |c| %>
    <tr>
    	<th><%=  Concepto.find(c.concepto_id).nombre %></th><td><%=  c.valor_calculado %></td>
    </tr>    
  <% end %>
</table>